.parent {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  /* width: 100%; */
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 5vh;
}

.logos {
  padding: 2vh 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo {
  width: 8vw;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-1 {
  margin: 3vh 0;
  font-size: 2rem;
}

.heading-2 {
  margin: 1vh 0;
  font-size: 1.25rem;
}

.partner-logos {
  margin: 3vh 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.partner-logo {
  width: 10vw;
  margin: 0 1vw;
}

.activities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activities-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60vw;
}
